POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=python_ddz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

# JWT settings
SECRET_KEY=your-secret-key-here-change-this-in-production
ALGORITHM=HS256


OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openrouter/free
