POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=python_ddz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ELASTICSEARCH_HOST=elastic
ELASTICSEARCH_PORT=9200

SECRET_KEY=your-secret-key-here-change-this-in-production
ALGORITHM=HS256

OPENROUTER_API_KEY=your_openpouter_api_key
OPENROUTER_MODEL=openrouter/free