POSTGRES_HOST=postgres_test
POSTGRES_PORT=5432
POSTGRES_DB=postgres_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ELASTICSEARCH_HOST=elasticsearch_test
ELASTICSEARCH_PORT=9200

SECRET_KEY=your-secret-key-here-change-this-in-production
ALGORITHM=HS256

OPENROUTER_API_KEY=YOUR-OPEN-API-ROUTER-KEY
OPENROUTER_MODEL=openrouter/free